[Unit]
Description=Daemon to monitor and control fan speed

[Service]
Type=simple
ExecStart=/usr/lib/x735-script/scripts/x735-fan.sh
Restart=always

[Install]
WantedBy=multi-user.target
