[Unit]
Description=Run Hardware Power Management & Safe Shutdown daemon

[Service]
Type=simple
ExecStart=/usr/lib/x735-script/x735-pwr.sh
Restart=always

[Install]
WantedBy=multi-user.target