[Unit]
Description=Run Hardware Power Management & Safe Shutdown daemon

[Service]
Type=simple
ExecStart=/usr/local/bin/x735-pwr.sh
Restart=always

User=root
Group=root

[Install]
WantedBy=multi-user.target